In [1]:
import pandas as pd  # Import the pandas library for data manipulation and analysis

In [2]:
# Load the Excel file using Pandas' read_excel function
df = pd.read_excel("NYTimesData2.1.xlsx")  # Replace with the path to your Excel file

# Display the first few rows of the dataframe
df.head()

,Başlık,Kategori,İçerik
0,Relief Rally Vanishes After New Data,BUSINESS,Wall Street followed European and Asian market...
1,Hits and Misses,N.F.L.,N.F.L. executives had many additional months t...
2,Corrections: August 1,CORRECTIONS,"Corrections appearing in print on August 1, 2011."
3,Peabody and Arcelor Go Hostile With Macarthur Bid,BUSINESS,Peabody Energy and ArcelorMittal took their bi...
4,‘I’ll Die for You’,MULTIMEDIA/PHOTOS,Laura El-Tantawy couldn’t explain what it was ...

In [ ]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer, PorterStemmer
import string
import re

# NLTK veri dosyalarını indir
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Excel dosyasını yükle
df = pd.read_excel("NYTimesData2.1.xlsx")  # Excel dosyanızın yolunu ve adını yazın

# Sütun adlarını yazdır
print("Sütun adları:", df.columns)

# Metin ön işleme fonksiyonu tanımla
def clean_text(text):
    text = str(text).lower()  # Küçük harfe çevir ve metin olmayan hücreleri metne çevir
    text = text.translate(str.maketrans('', '', string.punctuation))  # Noktalama işaretlerini kaldır
    text = re.sub(r'\d+', '', text)  # Sayıları kaldır
    tokens = word_tokenize(text)  # Tokenize et
    tokens = [word for word in tokens if word not in stopwords.words('english')]  # Stopword'leri kaldır
    lemmatizer = WordNetLemmatizer()
    stemmer = PorterStemmer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]  # Lemmatize et
    tokens = [stemmer.stem(word) for word in tokens]  # Stem et
    return ' '.join(tokens)

# Tüm sütunlar için temizleme fonksiyonunu uygula ve yeni bir DataFrame oluştur
cleaned_df = pd.DataFrame()

for column in df.columns:
    cleaned_df[f"{column}"] = df[column].apply(clean_text)

# Temizlenmiş DataFrame'i bir Excel dosyasına kaydet
cleaned_df.to_excel("cleaned_data.xlsx", index=False)

# Temizlenmiş verinin ilk birkaç satırını görüntüle
print(cleaned_df.head())

:

In [14]:
df = pd.read_excel("cleaned_data.xlsx")  # Replace with the path to your Excel file

# Display the first few rows of the dataframe
df.head()

,Başlık,Kategori,İçerik
0,relief rally vanishes new data,business,wall street followed european asian market hig...
1,hit miss,nfl,nfl executive many additional month plan freea...
2,correction august,correction,correction appearing print august
3,peabody arcelor go hostile macarthur bid,business,peabody energy arcelormittal took bid macarthu...
4,‘ ’ die ’,multimediaphotos,laura eltantawy ’ explain drew photograph effe...

In [15]:
# Null değerlerin sayısını her sütun için kontrol et
print("Null değerlerin sayısı:")
print(df.isnull().sum())

# Null değerlerin bulunduğu satırları görüntüle
null_rows = df[df.isnull().any(axis=1)]
print("Null değerlerin bulunduğu satırlar:")
print(null_rows)

Null değerlerin sayısı:
Başlık      0
Kategori    0
İçerik      6
dtype: int64
Null değerlerin bulunduğu satırlar:
                            Başlık  Kategori İçerik
474      turkishstyle braised leek    recipe    NaN
476       duck breast orange chile    recipe    NaN
478            rosemary applesauce    recipe    NaN
482                    farro salad    recipe    NaN
483  turkishstyle braised eggplant    recipe    NaN
578       breaking barrier lending  business    NaN

In [16]:
df = df.dropna()

In [17]:
print("Null değerlerin sayısı:")
print(df.isnull().sum())

# Null değerlerin bulunduğu satırları görüntüle
null_rows = df[df.isnull().any(axis=1)]
print("Null değerlerin bulunduğu satırlar:")
print(null_rows)

Null değerlerin sayısı:
Başlık      0
Kategori    0
İçerik      0
dtype: int64
Null değerlerin bulunduğu satırlar:
Empty DataFrame
Columns: [Başlık, Kategori, İçerik]
Index: []